@keyframes slide-in-half-top-faded {
    from {
        bottom: 50%;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 100;
    }
}

@keyframes slide-in-left-faded {
    from {
        right: 100vw;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 100;
    }
}

@keyframes slide-in-half-bottom {
    from {
        top: 50%;
    }
    to {
        top: 0;
    }
}

